click==8.1.7
python-decouple==3.1
requests==2.32.2
# TogglPy==0.1.2 doesn't support the new API. This fork from pixolus (plus minor tweaks from demid) does:
git+https://github.com/0x29a/TogglPy.git@4068ad29aae4b120b0e49a27ce1e7a012dc12e01
black==24.4.2
